.answers_list {
  display: block;
  background: red;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.answers_list ul {
  display: block;
  background: blue;
  transform: translate(200px,30px);
}

.answers_list ul li div {
  text-align: center;
  transform: rotateX(190deg);
}

.answers_list ul li {
  width: 20%;
  position: absolute;
  display: block;
  
  padding: 1rem;
  border-radius: 10px;
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-family: impact;
  background: #377c57;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: .2s;
   transform-origin: 50% 220px;
  z-index: 999;
  height: 220px;
}
.answers_list ul li:hover {
  background: #e9c25d;
  border: 2px solid #fff;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5), inset 0 0 3px 1px rgba(0,0,0,0.5);
  z-index: 10;
}